body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: rgb(255, 255, 255);}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('photo/bagr.jpg'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;}
    

.header {
    width: 100%;
    min-height: auto; 
    border-radius: 0 0 10px 10px;
    background-color: rgba(130, 130, 130, 0.62);
    margin-bottom: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.489);
    display: flex;
    flex-direction: column; 
    align-items: center; }

.header h1 {margin: 15px 0 10px 0;}

h2, p, h1 {text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);}

.centerr{text-align: center;}

.content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4), 0 0 1px rgba(255, 255, 255, 0.3);}

a {text-decoration: none;
    color: inherit;}

ul{list-style-type: none;}


.button_static {
    font-size: 15px;
    margin-top: 10px;
    padding: 12px 18px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    font-family: "El Messiri", sans-serif;
    background-color: rgba(117, 117, 117, 0.67);
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;}

.card_static {
    width: 200px;
    background-color: rgba(159, 159, 159, 0.29);
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 5px rgb(88, 97, 115);
    padding: 15px;}

.card_static h3 {
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);}

.card_static ul {
    list-style: disc;
    padding-left: 20px;
    list-style-type: none;
    margin: 0;}

.card_static li {margin-bottom: 8px;}

textarea {
    width: 20%;
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    font-size: 15px;
    background-color: rgba(117, 117, 117, 0.42);
    border-radius: 5px;}

input{
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    font-size: 25px;
    background-color: rgba(117, 117, 117, 0.42);
    border-radius: 5px;}